*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

    scroll-behavior: smooth;
}

body{
    background: url("../assets/background1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.landing-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.bg-img-container{
    /* position: fixed;
    z-index: 1; */
    width: 100%;
}

.ix-logo-container{
    width: 100%;
    margin-top: -150px;
    /* border-style: solid; */
    /* border-color: black; */
    display: flex;
    justify-content: center;
    /* position: fixed;
    z-index: 2; */
}

.second-img{
    width: 450px;
}

.first-text-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.first-text{
    font-size: 35px;
    /* border-style: solid;
    border-color: white; */
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
}

.countdown-container{
    font-size: 40px;
    color: white;
    width: 100%;
    /* border-style: solid;
    border-color: white; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.timer-container{
    display: flex;
    justify-content: center;
}

.day{
    /* border-style: dotted;
    border-color: white; */
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.hours{
    /* border-style: dotted;
    border-color: white; */
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.minutes{
    /* border-style: dotted;
    border-color: white; */
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.day-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 2px;
}

.day-count{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 45px;
}

.minutes-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 2px;
}

.hours-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 2px;
}

.reg-btn-container{
    /* border: dotted;
    border-color: white; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.reg-btn{
    color: white;
    letter-spacing: -1px;
    height: 80px;
    font-size: 30px;
    width: 280px;
    border-radius: 100px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 5px;
    transition: all 0.3s;
}

.reg-btn:hover{
    transition: all 0.3s;
    transform: scale(1.07);
}

.about-section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}

.top-banner{
    display: flex;
    width: 100%;
    top: 0;
    /* border-style: solid;
    border-color: black; */
    background-color: white;
    height: 120px;
    box-shadow: 0px 0px 10px rgba(0, 1, 0, 0.5);
}

.fixed{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}

.logo-box{
    /* border-style: dotted;
    border-color: black; */
    padding-left: 100px;
    margin-top: -25px;
}

.logo{
    width: 100px;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border-style: solid;
    border-color: red; */
    width: 100%;
}

.nav-btn{
    margin: 0px 40px 0px 20px;
    height: 50px;
    width: 140px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 2px;
    color: #8E8888;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
}

.nav-btn-active{
    margin: 0px 40px 0px 20px;
    height: 50px;
    width: 140px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
    color: #3E45EE;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
}

.section-body-container{
    display: flex;
}

.svg-container{
    /* border-style: solid;
    border-color: blue; */
    padding-left: 100px;
}

.about-svg{
    width: 400px;
}

.about-text-container{
    /* border-style: solid;
    border-color: black; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text-box{
    /* border-style: dotted;
    border-color: black; */
    background-color: white;
    width: 650px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 1, 0, 0.1);
}

.about-text-box:hover{
    box-shadow: 0px 0px 10px rgba(0, 1, 0, 0.2);
}

.about-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 1px;
}

.timeline-section{
    height: 150vh;
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}

.jahzan{
    display: flex;
    margin-top: 50px;
}

.underline-svg{
    width: 200px;
    /* margin-top: -90px; */
}

.head-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 55px;
}

.heading-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-color: black;
    border-style: dotted; */
}



.timeline-left{
    height: 100vh;
    
    width: 45%;
    /* border-style: solid;
    border-color: black; */
}

.timeline-container{
    height: 100vh;

    width: 10%;
    /* border-style: solid;
    border-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline-right{
    height: 100vh;
    width: 45%;
    /* border-style: solid;
    border-color: black; */
}

.dot{
    width: 30px;
    height: 30px;
    background-color: rgba(117, 11, 216, 0);
    /* margin: 20px 20px; */
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 4px;
    border-color: #760BD8;
    
}

.dot-sm{
    width: 26px;
    height: 26px;
    background-color: #760BD8;
    /* margin: 20px 20px; */
    border-radius: 100%;
}

.line{
    width: 4px;
    height: 130px;
    background-color: rgba(181, 181, 181, 0.56);
}

.underline{
    height: 4px;
    width: 350px;
    background-color: rgba(181, 181, 181, 0.56);
    margin-top: 10px;
}

.text1{
    /* border-style: solid;
    border-color: black; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 20vh;
}

.text-wrap{
    /* border-style: solid;
    border-color: black; */
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 1, 0, 0.1);
}

.text-wrap:hover{
    box-shadow: 0px 0px 10px rgba(0, 1, 0, 0.2);
    cursor: pointer;
}


.timeline-head-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.timeline-desc-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.text2{
    /* border-style: solid;
    border-color: black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 20vh;
}

.heading-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rules-section{
    width: 100%;
    height: 150vh;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

.rules-head-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rules-body-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-svg-container{
    width: 40%;
}
.rules-text-box{
    /* background-color: white; */
    border-radius: 30px;
    /* box-shadow: 0px 0px 10px rgba(0, 1, 0, 0.1); */
    width: 750px;
    height: 550px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;

    width: 60%;
}

.one-line{
    display: flex;
    margin-top: 30px;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    width: 90%;

}

.list-line{
    /* height: 10px;
    width: 10px;
    background-color: black; */
}

.list-svg{
    height: 80px;
    width: 10px;
}

.rules-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 23px;
    margin-left: 20px;
    line-height: 140%;

    /* font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 1px; */
}

.phone-block{
    width: 600px;
}

.contact-section{
    height: 150vh;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;

}

.contact-head-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-svg-box{
    width: 150%;
    height: 1000px;
}

.contact-svg{
    width: 700px;
    height: auto;
}



